@font-face {
  font-family: 'shabnam-bold';
  src: url('Shabnam-Bold-FD.eot'); /* IE9 Compat Modes */
  src: url('Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Shabnam-Bold-FD.woff2') format('woff2'), /* Super Modern Browsers */
  url('Shabnam-Bold-FD.woff') format('woff'), /* Pretty Modern Browsers */
  url('Shabnam-Bold-FD.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'shabnam';
  src: url('Shabnam-FD.eot'); /* IE9 Compat Modes */
  src: url('Shabnam-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Shabnam-FD.woff2') format('woff2'), /* Super Modern Browsers */
  url('Shabnam-FD.woff') format('woff'), /* Pretty Modern Browsers */
  url('Shabnam-FD.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'shabnam-light';
  src: url('Shabnam-Light-FD.eot'); /* IE9 Compat Modes */
  src: url('Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Shabnam-Light-FD.woff2') format('woff2'), /* Super Modern Browsers */
  url('Shabnam-Light-FD.woff') format('woff'), /* Pretty Modern Browsers */
  url('Shabnam-Light-FD.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'shabnam-medium';
  src: url('Shabnam-Medium-FD.eot'); /* IE9 Compat Modes */
  src: url('Shabnam-Medium-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Shabnam-Medium-FD.woff2') format('woff2'), /* Super Modern Browsers */
  url('Shabnam-Medium-FD.woff') format('woff'), /* Pretty Modern Browsers */
  url('Shabnam-Medium-FD.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'shabnam-thin';
  src: url('Shabnam-Thin-FD.eot'); /* IE9 Compat Modes */
  src: url('Shabnam-Thin-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Shabnam-Thin-FD.woff2') format('woff2'), /* Super Modern Browsers */
  url('Shabnam-Thin-FD.woff') format('woff'), /* Pretty Modern Browsers */
  url('Shabnam-Thin-FD.ttf')  format('truetype') /* Safari, Android, iOS */
}

