@import "../../../assets/styles/global";
.card{
  display: block;
  margin: 8px auto;
  max-width: 190px;
  max-height: 240px;
  padding: 0 4px;
  @include xs(){
    max-width: 95%;
  }
  @include sm(){
    max-width: 95%;
  }
  .item{
    background-color: white;
    box-shadow: 0 0 2px #4e4e4e;
    width: 100%;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    @include xs(){
      display: flex;
      max-width: 100%;
      border-radius: 0;
    }
    @include sm(){
      display: flex;
      max-width: 100%;
      margin:0;
      border-radius: 0;
    }
    &:hover{
      box-shadow: 0 0 6px #4e4e4e;

    }
    &:hover .background{
      background-size: 65%;

    }
    .background{
      border-radius: 4px 4px 0 0;
      height: 160px;
      background-repeat: no-repeat;
      transition: all 0.2s ease-in;
      background-position: center;
      background-size: 55%;
      @include xs(){
        width: 50%;
        background-size:65%;
        background-position: center;
        border-radius: 0;
      }
      @include sm(){
        width: 50%;
        background-size:65%;
        border-radius: 0;
        background-position: center;
      }
    }
    .text{
      height: 50px;
      padding: 4px 6px;
      color:$black;
      text-align: center;

      @include sm(){
        width: 50%;
        font-weight: 600;
        padding-top: 64px;
      }
      @include xs(){
        width: 50%;
        font-weight: 600;
        padding-top: 64px;
      }
    }
  }
}
