@import "../../../assets/styles/global";
.card{
  display: block;
  margin:0 auto;
  width: 190px;
  max-height: 240px;
  padding: 0;
  @include sm_down(){
    width: 100%;
  }
  .item{
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 2px #62b8e7;
    width: 100%;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 0 20px;
    position: relative;
    overflow: hidden;
    @include sm_down(){
      display: flex;
      max-width: 100%;
      border-radius: 0;
      margin-bottom: 2px;
    }

    &:hover{
      .background {
        background-size: 55%;
      }

      .hover{
        transform: translateY(2px);
      }
    }
    .background{
      border-radius: 4px 4px 0 0;
      height: 160px;
      background-repeat: no-repeat;
      transition: all 0.2s ease-in;
      background-position: center;
      background-size: 45%;
      @include xs(){
        width: 50%;
        background-size:65%;
        background-position: center;
        border-radius: 0;
      }
      @include sm(){
        width: 50%;
        background-size:65%;
        border-radius: 0;
        background-position: center;
      }
    }
    .text{
      height: 50px;
      padding: 4px 6px;
      color:$black;
      text-align: center;

      @include sm(){
        width: 50%;
        font-weight: 600;
        padding-top: 64px;
      }
      @include xs(){
        width: 50%;
        font-weight: 600;
        padding-top: 64px;
      }
    }
    .circle{
      height: 160px;
      width: 160px;
      background-color: rgba(17,136,167,.06);
      position: absolute;
      border-radius: 74px;
      top: -35px;
      right: -24px;
    }
    .hover{
      @include sm_down(){
        display: none;
      }
      transition: all 0.2s ease-in;
      position: absolute;
      width: 100%;
      height: 60px;
      background-color: rgba(17,136,167,.08);
      transform: translateY(52px);
      border-radius: 0 0 8px 8px;
    }
  }
}
