@import "../fonts/fonts";
@import "bttn.min";
@import "animate";

//var
$normal_font:"shabnam-medium";
$light_gray:#e6e6e6;
$blue_base:#1188a7;
$black:#524646;
$header_height:405px;
$header_height_mobile:64px;
$footer_height:200px;
$white:white;
$max_width:1024px;
$red:#d04040;

// Extra small devices (portrait phone.s, less than 576px)
@mixin xs(){
  @media (max-width: 575px) {
    @content;
  }
}
@mixin sm(){
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}
@mixin sm_down(){
  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    @content;
  }
}
@mixin md(){
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin md_down(){
  // Medium devices (tablets, 768px and up)
  @media (max-width: 991px) {
    @content;
  }
}
@mixin md_above(){
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg(){
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin xl(){
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    @content;
  }
}
//overload style ant

.ant-layout-header{
  background-color: #fafafa;
  min-height: $header_height;
  padding: 0;
  @include xs(){
    padding: 0 12px;
    min-height: $header_height_mobile;
  }
  @include sm(){
    padding: 0 12px;
    min-height: $header_height_mobile;
  }
}
.ant-layout-footer{
  background-color: $blue_base;
  @include xs(){
    padding:0 15px;
  }
  @include sm(){
    padding: 0 15px;
  }
  @include md(){
    padding: 0 15px;
  }
}
.ant-drawer-body{
  padding: 0;
}
//
body .ant-layout{
  background-color: #d4f2f9;
}
body *{
  font-family: $normal_font;
}
//general
.xs_hidden{
  @include xs(){
    visibility: hidden;
  }
}
.sm_hidden{
  @include sm(){
    visibility: hidden;
  }
}
.md_hidden{
  @include md(){
    visibility: hidden;
  }
}
.lg_hidden{
  @include lg(){
    visibility: hidden;
  }
}
.xl_hidden{
  @include xl(){
    visibility: hidden;
  }
}
.borderBottom{
  border-bottom: 1px solid $light_gray;
}
.blueText{
  color:$blue_base;
}
.content{
  min-height:calc(100vh - (#{$header_height} + #{$footer_height}));
  max-width: $max_width;
  width: 100%;
  margin: 0 auto;
  @include sm_down(){
    width: 100%;
  }
}
.centerText{
  text-align: center;
}
.padding_vertical{
  @include sm_down(){
    padding-top:0 ;
    padding-bottom: 0;
  }
  padding-top: 12px;
  padding-bottom: 12px;
}
//button overide
.bttn-float.bttn-primary{
  border-radius: 22px;
  background-color: #1188a7;
  font-size: 14px;
  color: white;
  padding: 8px 18px;
}