@import "global";
.home{
  .header{
    min-height: 240px;
    background-color: #d0f0ff;
    background-image: url("../images/backgroundImg.svg");
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: 200px auto;
  }
  .menu{

  }
}
